parameters:
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#of function call_user_func expects callable#'
	autoload_directories:
		- %rootDir%/../../../src
		- %rootDir%/../../../tests
